{% extends 'base.html.twig' %}

{% block body %}
<form action="{{ path('directlogin') }}" method="POST">
    <input type="email" name="email">
    <button type="submit">Demander un lien pour ce Webinaire</button>
</form>
{% endblock %}