<!-- nav bar -->
          <header class="site-header">
               <nav class="navbar navbar-expand-lg bg-white static-nav center-brand static-nav">
                  <div class="container-fluid" style="max-width:100%!important">
                    <a class="navbar-brand bt_scroll" href="https://www.alainrenault.com/Accueil#home_top">
                     <h1>
                     <img src="https://www.alainrenault.com/assets/images/logo-complet.png" alt="Alain Renault Communication, votre paternaire formation" class="d-block d-sm-block logo-default">
                     <img src="https://www.alainrenault.com/assets/images/logo-transparent.png" alt="Alain Renault Communication, votre paternaire formation" class="d-none d-sm-none logo-default">
                     </h1>
                    </a>
                     <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#xenav">
                        <span class="first"> </span>
                        <span> </span>
                        <span class="last"> </span>
                     </button>
                     <div class="collapse navbar-collapse" id="xenav">
                        <ul class="navbar-nav ml-auto">                                       
                           <li class="nav-item has-sub">
                              <a class="nav-link hash" href="javascript:void(0)">Solutions</a>
                              <ul>
                                <li><a class="nav-link hash" href="https://www.alainrenault.com/Accueil#domaine">Nos domaines d'interventions</a></li>
                                <li><a class="nav-link hash" href="https://www.alainrenault.com/Accueil#modalite">Nos modalités d'apprentissages</a></li>
                                <li><a class="nav-link hash" href="https://www.alainrenault.com/Accueil#themes">Nos thèmes de formation</a></li>
                                <li><a class="nav-link" href="https://www.alainrenault.com/catalogue/" target="_blank" style="">Notre offre INTRA</a></li>
                                <li style="margin:0px 0px 20px 0px"><a class="nav-link" href="https://www.alainrenault.com/Blog/article/offre-inter-en-classes-virtuelles--">Notre offre INTER</a></li>
                              </ul>
                           </li>
                              <li class="nav-item">
                              <a class="nav-link hash" href="https://www.alainrenault.com/Accueil#secteurs">Secteurs</a>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link hash" href="https://www.alainrenault.com/Accueil#equipe">Équipe</a>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link hash" href="https://www.alainrenault.com/Accueil#actualites">Actualités</a>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link hash pagescroll" href="#contact">Contact</a>
                           </li>
                        </ul>
                     </div>
                  </div>
               </nav>
            </header>
<!-- bannière -->
            <section class="page-header">
               <div class="container">
                  <div class="row">
                     <div class="col-sm-12">
                        <div class="page-titles titreBlog text-center">
                           <h2 class="whitecolor font-light bottom30" style="line-height:35px">
                              <a href="{{ path('obj_index') }}" alt="retour">← WEBINAIRES</a>
                           </h2>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
            </a>
            <div id="canvas-cont" style="margin-top:-53px">
              <canvas class="waterwave-canvas" width="100%" height="300px"></canvas>
            </div>